@import "tailwindcss";

body {
   @apply bg-[#F3F4F6] text-gray-900;
}

*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  @apply bg-gray-100;
}
*::-webkit-scrollbar-thumb {
  @apply bg-orange-300 rounded-full;
}
*::-webkit-scrollbar-thumb:hover {
  @apply bg-orange-400;
}
*:focus-visible {
  @apply outline-2 outline-offset-2 outline-orange-500 transition-all duration-200;
}
::selection {
  @apply bg-orange-200 text-orange-900;
}
